!
!Version Halon 0.1.0 (Build: genericx86-p4-Halon-0.1.0-master-20170502040441-dev)
!Schema version 0.1.8
clock timezone utc
sflow
led locator on
!
!
!
!
git url https://github.com/arubaos-cx/test1.git branch master
!
!
!
aaa authentication login default local
aaa authorization commands default none
ssh server vrf vrf_mgmt
!
!
!
!
vlan 1
    no shutdown
vlan 10
    no shutdown
interface 1/1/1
    no routing
    no shut
    vlan trunk native 1
    vlan trunk allowed 1
    vlan trunk allowed 10
interface 1/1/2
    no routing
    no shut
    vlan trunk native 1
    vlan trunk allowed 1
    vlan trunk allowed 10
qos trust dscp
vlan 11
    no shutdown
vlan 12
    no shutdown
vlan 13
    no shutdown
vlan 14
    no shutdown
vlan 15
    no shutdown
vlan 16
    no shutdown
vlan 17
    no shutdown
vlan 18
    no shutdown
vlan 19
    no shutdown
vlan 20
    no shutdown
vlan 21
    no shutdown
vlan 22
    no shutdown
vlan 23
    no shutdown
vlan 24
    no shutdown
vlan 25
    no shutdown
vlan 26
    no shutdown
vlan 27
    no shutdown
vlan 28
    no shutdown
vlan 29
    no shutdown
vlan 30
    no shutdown
vlan 31
    no shutdown
vlan 32
    no shutdown
vlan 33
    no shutdown
vlan 34
    no shutdown
vlan 35
    no shutdown
vlan 36
    no shutdown
vlan 37
    no shutdown
vlan 38
    no shutdown
vlan 39
    no shutdown
vlan 40
    no shutdown
vlan 41
    no shutdown
vlan 42
    no shutdown
vlan 43
    no shutdown
vlan 44
    no shutdown
vlan 45
    no shutdown
vlan 46
    no shutdown
