!
!Version Halon 0.1.0 (Build: genericx86-p4-Halon-0.1.0-master-20170502040441-dev)
!Schema version 0.1.8
clock timezone utc
sflow
led locator on
!
!
!
!
git url https://github.com/arubaos-cx/test1.git branch master
!
!
!
aaa authentication login default local
aaa authorization commands default none
ssh server vrf vrf_mgmt
!
!
!
!
vlan 1
    no shutdown
vlan 10
    no shutdown
interface 1/1/1
    no routing
    no shut
    vlan trunk native 1
    vlan trunk allowed 1
    vlan trunk allowed 10
interface 1/1/2
    no routing
    no shut
    vlan trunk native 1
    vlan trunk allowed 1
    vlan trunk allowed 10
qos trust dscp
vlan 11
    no shutdown
vlan 12
    no shutdown
vlan 13
    no shutdown
vlan 14
    no shutdown
vlan 15
    no shutdown
vlan 16
    no shutdown
vlan 17
    no shutdown
vlan 18
    no shutdown
vlan 19
    no shutdown
vlan 20
    no shutdown
vlan 21
    no shutdown
vlan 22
    no shutdown
vlan 23
    no shutdown
vlan 24
    no shutdown
vlan 25
    no shutdown
vlan 26
    no shutdown
vlan 27
    no shutdown
vlan 28
    no shutdown
vlan 29
    no shutdown
vlan 30
    no shutdown
vlan 31
    no shutdown
vlan 32
    no shutdown
vlan 33
    no shutdown
vlan 34
    no shutdown
vlan 35
    no shutdown
vlan 36
    no shutdown
vlan 37
    no shutdown
vlan 38
    no shutdown
vlan 39
    no shutdown
vlan 40
    no shutdown
vlan 41
    no shutdown
vlan 42
    no shutdown
vlan 43
    no shutdown
vlan 44
    no shutdown
vlan 45
    no shutdown
vlan 46
    no shutdown
vlan 47
    no shutdown
vlan 48
    no shutdown
vlan 49
    no shutdown
vlan 50
    no shutdown
vlan 51
    no shutdown
vlan 52
    no shutdown
vlan 53
    no shutdown
vlan 54
    no shutdown
vlan 55
    no shutdown
vlan 56
    no shutdown
vlan 57
    no shutdown
vlan 58
    no shutdown
vlan 59
    no shutdown
vlan 60
    no shutdown
vlan 61
    no shutdown
vlan 62
    no shutdown
vlan 63
    no shutdown
vlan 64
    no shutdown
vlan 65
    no shutdown
vlan 66
    no shutdown
vlan 67
    no shutdown
vlan 68
    no shutdown
vlan 69
    no shutdown
vlan 70
    no shutdown
vlan 71
    no shutdown
vlan 72
    no shutdown
vlan 73
    no shutdown
vlan 74
    no shutdown
vlan 75
    no shutdown
vlan 76
    no shutdown
vlan 77
    no shutdown
vlan 78
    no shutdown
vlan 79
    no shutdown
vlan 80
    no shutdown
vlan 81
    no shutdown
vlan 82
    no shutdown
vlan 83
    no shutdown
vlan 84
    no shutdown
vlan 85
    no shutdown
vlan 86
    no shutdown
vlan 87
    no shutdown
vlan 88
    no shutdown
vlan 89
    no shutdown
vlan 90
    no shutdown
vlan 91
    no shutdown
vlan 92
    no shutdown
vlan 93
    no shutdown
vlan 94
    no shutdown
vlan 95
    no shutdown
vlan 96
    no shutdown
vlan 97
    no shutdown
vlan 98
    no shutdown
vlan 99
    no shutdown
vlan 100
    no shutdown
vlan 101
    no shutdown
vlan 102
    no shutdown
vlan 103
    no shutdown
vlan 104
    no shutdown
vlan 105
    no shutdown
vlan 106
    no shutdown
vlan 107
    no shutdown
vlan 108
    no shutdown
vlan 109
    no shutdown
vlan 110
    no shutdown
vlan 111
    no shutdown
vlan 112
    no shutdown
vlan 113
    no shutdown
vlan 114
    no shutdown
vlan 115
    no shutdown
vlan 116
    no shutdown
vlan 117
    no shutdown
vlan 118
    no shutdown
vlan 119
    no shutdown
vlan 120
    no shutdown
vlan 121
    no shutdown
vlan 122
    no shutdown
vlan 123
    no shutdown
vlan 124
    no shutdown
vlan 125
    no shutdown
vlan 126
    no shutdown
vlan 127
    no shutdown
vlan 128
    no shutdown
vlan 129
    no shutdown
vlan 130
    no shutdown
vlan 131
    no shutdown
vlan 132
    no shutdown
vlan 133
    no shutdown
vlan 134
    no shutdown
vlan 135
    no shutdown
vlan 136
    no shutdown
vlan 137
    no shutdown
vlan 138
    no shutdown
vlan 139
    no shutdown
vlan 140
    no shutdown
vlan 141
    no shutdown
vlan 142
    no shutdown
vlan 143
    no shutdown
vlan 144
    no shutdown
vlan 145
    no shutdown
vlan 146
    no shutdown
vlan 147
    no shutdown
vlan 148
    no shutdown
vlan 149
    no shutdown
vlan 150
    no shutdown
vlan 151
    no shutdown
vlan 152
    no shutdown
vlan 153
    no shutdown
vlan 154
    no shutdown
vlan 155
    no shutdown
vlan 156
    no shutdown
vlan 157
    no shutdown
vlan 158
    no shutdown
vlan 159
    no shutdown
vlan 160
    no shutdown
vlan 161
    no shutdown
vlan 162
    no shutdown
vlan 163
    no shutdown
vlan 164
    no shutdown
vlan 165
    no shutdown
vlan 166
    no shutdown
vlan 167
    no shutdown
vlan 168
    no shutdown
vlan 169
    no shutdown
vlan 170
    no shutdown
vlan 171
    no shutdown
vlan 172
    no shutdown
vlan 173
    no shutdown
vlan 174
    no shutdown
vlan 175
    no shutdown
vlan 176
    no shutdown
vlan 177
    no shutdown
vlan 178
    no shutdown
vlan 179
    no shutdown
vlan 180
    no shutdown
vlan 181
    no shutdown
vlan 182
    no shutdown
vlan 183
    no shutdown
vlan 184
    no shutdown
vlan 185
    no shutdown
vlan 186
    no shutdown
vlan 187
    no shutdown
vlan 188
    no shutdown
vlan 189
    no shutdown
vlan 190
    no shutdown
vlan 191
    no shutdown
vlan 192
    no shutdown
vlan 193
    no shutdown
vlan 194
    no shutdown
vlan 195
    no shutdown
vlan 196
    no shutdown
